{% extends 'layout.njk' %}

{% block head %}
  <title>{{about.title}}
    | Sobre</title>
{% endblock head %}

{% block content %}
  <div class="content">
    <div class="about">
      <img src="{{about.image}}" alt="{{about.title}}"/>
      <h1>{{ about.title }}</h1>
    </div>

    <div class="tech">
      <div class="tech-content">
        <img src="{{about.imagetech}}" alt=""/>
        <ul>
          {% for ul in about.uls %}
            <li>{{ul.name}}</li>
          {% endfor %}
        </ul>
        <p>
          {{about.description}}
        </p>
      </div>
    </div>
  </div>

{% endblock content %}