{% extends 'layout.njk' %}

{% block head %}
  <title>Rocketseat | Sobre</title>
{% endblock head %}

{% block content %}
  <div class="content">
    <div class="about">
      <img src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" alt=""/>
      <h1>Rocketseat</h1>
    </div>

    <div class="tech">
      <div class="tech-content">
        <img src="https://rocketseat.com.br/static/images/update/trofeu-home.svg" alt=""/>
        <ul>
          <li>JavaScript</li>
          <li>Node.js</li>
          <li>React</li>
          <li>React-Native</li>
        </ul>
        <p>
          As melhores tecnologias em programação, direto ao ponto e do jeito certo.
        </p>
      </div>
    </div>
  </div>

{% endblock content %}