{% extends 'layout.njk' %}

{% block head %}
  <title>Rocketseat | Cursos</title>
{% endblock head %}

{% block content %}
  <div class="title">
   
  </div>
  <section class="courses">
   
      
        
        <div class="course-content">
          <iframe src="https://rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
          
          </div>
        </div>
      </div>
   

  </section>
    
{% endblock content %}