{% extends 'layout.njk' %}

{% block content %}
    <div class="image-error">
        <img src="./img/error.png" alt="">
    </div>

    <div class="not-found-text">
        <h1>Favor Voltar a homepage clicando nos links de navegação</h1>
    </div>

{% endblock content %}